:root {
    /* プライマリカラー */
    --primary-color: #0dcaf0;
    /* セカンダリカラー */
    --secondary-color: #ff815f;
    --secondary-light-color: #ffc9ba;
    /* 文字色 */
    --text-white: #ffffff;
    --text-black: rgba(0, 0, 0, 0.712);
}


/* 全体画面共通 */
.content {
    margin: 0 auto;
    max-width: 768px;
}

.title-wrapper {
    padding: 0.5rem;
}

.title {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 1rem;
    border-radius: 10px;
    margin: 0;
    text-align: center;
}


/* ログイン画面 */
.icon-wrapper {
    margin: 1em;
}

.icon {
    text-align: center;
}

.login-form {
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}

.form-title {
    background: linear-gradient(transparent 50%, var(--secondary-light-color) 50%);
    width: 50%;
    margin: 0 auto;
    max-width: 500px;
    color: var(--text-black);
}

input.form-control.user-input,
input.form-control.pass-input,
input.form-control.pass-check {
    margin-bottom: 2em;
}

.login,
.signup,
.check,
.back,
.reg-back,
.logout {
    color: var(--text-white);
    padding: 1em 2.5em;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}

.login,
.check,
.back {
    background-color: var(--secondary-color);
}

.signup-wrapper {
    padding: 8px;
}

.signup,
.reg-back,
.logout {
    background-color: var(--primary-color);
}


/* エラー画面 */
.statement-wrapper {
    padding: 3em 5em;
}

.statement-wrapper p:first-child {
    margin-bottom: 1em;
}

.back-wrapper {
    padding: 8px;
}


/* 新規ユーザ登録画面 */
.errmsg {
    color: var(--text-black);
    margin: 2em 0;
}


/* メイン画面 */
.list-wrapper {
    margin-bottom: 1em;
}

.list-title,
.add-form-title {
    background: linear-gradient(transparent 50%, var(--secondary-light-color) 50%);
    width: 50%;
    margin: 1em auto 0 auto;
    max-width: 500px;
    color: var(--text-black);
    text-align: center;
}

.box-wrapper {
    border-bottom: 1px solid #c0c0f0;
    border-top: 1px solid #f0f0f0;
    margin: 8px;
    padding: 8px;
    display: flex;
}

.box {
    margin: 4px;
    padding: 4px;
    align-items: center;
}

.bought-form {
    margin-left: auto;
}

.bought {
    color: var(--text-white);
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.add-form-wrapper {
    padding: 0 0.5em;
}

.add-container {
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.add-amount-wrapper {
    margin: 0 0.5em;
}

.add {
    margin-left: auto;
    color: var(--text-white);
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: inline;
}

.logout-form {
    color: var(--text-white);
    padding: 8px;
}
