:root {
    /* プライマリカラー */
    --primary-color: #0dcaf0;
    /* セカンダリカラー */
    --secondary-color: #ff815f;
    --secondary-light-color: #ffc9ba;
    /* 文字色 */
    --text-white: #ffffff;
}


.list-wrapper {
    padding: 2rem 1rem;
    color: #ffffff;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin: 0px;
}

.icon-wrapper {
    margin: 1em;
}

.icon {
    text-align: center;
}

.login-form {
    padding: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
}

.list-title,
.add-form-title {
    background: linear-gradient(transparent 50%, var(--secondary-light-color) 50%);
    width: 50%;
    margin: 0 auto;
    max-width: 500px;
    color: rgba(0, 0, 0, 0.712);
    text-align: center;
}

.box-wrapper {
    border-bottom: 1px solid #c0c0f0;
    border-top: 1px solid #f0f0f0;
    margin: 8px;
    padding: 8px;
    display: flex;
}

.box {
    margin: 4px;
    padding: 4px;
    align-items: center;
}

.bought-form {
    margin-left: auto;
}

.bought {
    color: var(--text-white);
    background-color: var(--primary-color);
    border-radius: 10px;
}

.add-form-wrapper {
    padding: 2rem 1rem;
}

.add-container {
    padding: 8px;
    display: flex;
    flex-direction: row;
}

.add-form-wrapper {
    padding: 0em 0.5em;
}

.add-amount-wrapper {
    margin: 0em 0.5em;
}

.add {
    margin-left: auto;
    color: var(--text-white);
    background-color: var(--primary-color);
    border-radius: 10px;
    display: inline;
}

.logout-form {
    color: var(--text-white);
    padding: 8px;
}

.logout {
    margin-left: auto;
    color: var(--text-white);
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 100%;
}

.form-title {
    background: linear-gradient(transparent 50%, var(--secondary-light-color) 50%);
    width: 35%;
    margin: 0 auto;
    max-width: 500px;
    color: rgba(0, 0, 0, 0.712);
}

.signup-wrapper {
    padding: 8px;
}

input.form-control.user-input,
input.form-control.pass-input {
    margin-bottom: 1em;
}

.login,
.signup {
    color: #ffffff;
    padding: 1em 2.5em;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}

.login {
    background-color: var(--primary-color);
}

.signup {
    background-color: var(--secondary-color);
}


.content {
    margin: 0 auto;
    max-width: 768px;
}

.title-wrapper {
    padding: 0.5rem;
}

.title {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 2rem 1rem;
    border-radius: 10px;
    margin: 0px;
}

.statement-wrapper {
    padding: 3em 5em;
}

.statement-wrapper p:first-child {
    margin-bottom: 1em;
}

.back-wrapper {
    padding: 8px;
}

.back {
    color: var(--text-white);
    padding: 1em 2.5em;
    border-radius: 10px;
    font-weight:bold;
    width: 100%;
    background-color: var(--primary-color);
}
